body {
}

.groupsMap {
    border: 1px solid #999;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
}



#txtGroupAddress {
    -moz-box-shadow: 25px 25px 25px 25px #ccc;
    -webkit-box-shadow: 25px 25px 25px 25px #ccc;
    box-shadow: 0px 0px 5px #1d9df2;
    border: 2px solid #dadada;
    border-radius: 7px;
    font-size: 14px;
    padding: 5px;
}


#pg_smallgroupedit_location-popup {
    right: 5% !important;
    left: 5% !important;
    width: 90% ;
}

#smallGroupsListMapView-popup {
    right: 5% !important;
    left: 5% !important;
  


    width: 90% ;
   
}



.validationError {
    color: #ff0000;
    font-size: x-small;
}



.validElement {
    /*/*border: thin solid #00CC66;*/
    /*-moz-box-shadow:25px 25px 25px 25px #ccc;
    -webkit-box-shadow: 25px 25px 25px 25px #ccc;
    box-shadow: 0px 0px 5px #1d9df2;*/
    /*border:2px solid;*/
    /*border-radius:7px;*/ */;
}

.inValidElement {
    /*border: thin solid #FF3300;*/
    -moz-box-shadow: 25px 25px 25px 25px #ff4d4d;
    -webkit-box-shadow: 25px 25px 25px 25px #ff4d4d;
    box-shadow: 0px 0px 5px #ff4d4d;
    border: 2px solid #ff0000;
    border-radius: 7px;
    /*font-size:14px;*/
    /*padding:5px;*/
}
